<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find bill</title>
     <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
    {{!-- custemer search pop-up window --}}
    <div class="serach" id="searchBox">
           <form class="searchForm" method="POST" action="/find">
               <h1>Find Custemer Bills</h1>
                  <input type="text" placeholder="Enter Custemer  E-mail" name="Cemail" >
                  <button type="submit" class="sumitbtn">Search</button>
                  <a href="http://localhost/"><button type="button" class="homebtn" >Genetare New</button></a>
           </form>
           
    </div>  
  
</body>
</html>